@using Offers.Api.Dtos
@using Items.Api.Dtos
@using TradableItemDto = Items.Api.Dtos.TradableItemDto

<h3>Offer</h3>

@if (_gridVisible)
{
    <ItemsGrid OnSelectItem="@AddToOffer"/>
}
else
{
    <div type="button" @onclick="ShowItemsGrid" class="m-1">
        <span class="fs-1 text-dark p-3 border border-1 border-dark bg-success rounded oi oi-plus text-center" aria-hidden="true"></span>
    </div>
}

@if (_tradableItem != null)
{
    <Item ItemDto="@_tradableItem"/>
}

@code {
    private TradableItemDto? _tradableItem;

    private bool _gridVisible;

    void ShowItemsGrid()
    {
        _gridVisible = true;
    }

    void AddToOffer(TradableItemDto tradableItem)
    {
        _tradableItem = tradableItem;
        StateHasChanged();
    }
}
