@using Offers.Api.Dtos
@using Items.Api.Dtos


@if(_plusVisible)
{
    <div type="button" @onclick="SwitchItemsGridVisibility" class="m-1">
        <span class="fs-1 text-dark p-3 border border-1 border-dark bg-success rounded oi oi-plus text-center" aria-hidden="true"></span>
    </div>
}
else
{
    <div>
        <Item ItemDto="@_tradableItem" />
        <div>x</div>
        <p>Amount</p>
    </div>
}


@if (_gridVisible)
{
    <ItemsGrid OnSelectItem="@AddToOfferItem"/>
}


@code {
    [Parameter]
    public OfferItemDto OfferItemDto { get; set; } = new();

    [Parameter]
    public Action<OfferItemDto>? OnAddOfferItem { get; set; }

    private TradableItemDto? _tradableItem;
    
    private bool _gridVisible = false;
    private bool _plusVisible = true;

    void SwitchItemsGridVisibility()
    {
        _gridVisible = !_gridVisible;
    }

    void AddToOfferItem(TradableItemDto tradableItem)
    {
        _tradableItem = tradableItem;

        OfferItemDto.TradableItemId = tradableItem.Id;

        OnAddOfferItem?.Invoke(OfferItemDto);

        _plusVisible = false;
        SwitchItemsGridVisibility();
        StateHasChanged();
    }
}
