@using Offers.Api.Dtos

<div>
    <Item />
    <div>x</div>
    <div>@_offerItem.Amount</div>
</div>

@code {
    private OfferItemDto _offerItem;

    protected override async Task OnInitializedAsync()
    {
    }
}
