@page "/market"

@using KlondikeTR.Components

<h1>Market</h1>

<button class="btn-dark" @onclick="ShowItemsGrid">Show</button>

@if (_gridVisible)
{
    <ItemsGrid />
}

@code {
    private bool _gridVisible = false;

    void ShowItemsGrid()
    {
        _gridVisible = true;
    }
}
