@page "/market"

@using KlondikeTR.Components

<h1>Market</h1>

<button type="button" class="btn btn-secondary m-1 mt-2 mb-5" @onclick="ShowItemsGrid">Show</button>

@if (_gridVisible)
{
    <ItemsGrid />
}

@code {
    private bool _gridVisible = false;

    void ShowItemsGrid()
    {
        _gridVisible = true;
    }
}
