@page "/market"

@using KlondikeTR.Components


<p class="display-2">Market</p>

<div class="">
    <div class="mt-4">
        <Offer></Offer>
    </div>

    <div class="mt-4">
        <h3>Active offers</h3>
    </div>
</div>

@code {

}
